<h3>CategoryCreator</h3>
<div id="CategoryCreatorField">
    <h4>Geben Sie den Namen der Kategorie ein:</h4>
    <input id="CategoryName" type="text" name="name" value="@Category.Name" />
</div>

@code {

}
