<h3>DescriptorCreator</h3>

<div id="DescriptorField">
    <input id="ShortDescriptorName" type="text" name="shortDescription" value="Kurze Beschreibung" />
    <input id="LongDescriptorName" type="text" name="longDescription" value="Lange Beschreibung" />
    <input id="Weight" type="number" name="weight" value="0" />
</div>

@code {

}
