@page "/"
@using BlazorBootstrap

<PageTitle>Katalog</PageTitle>

<div class="home-container">
    <div class="header-section">
        <h1>Produktkatalog</h1>
        
        <button class="btn-add-product" @onclick="OpenProductEditorAsync" title="Neues Produkt erstellen">
            + Neues Produkt
        </button>
    </div>

    <Component />
</div>

<Modal @ref="_productModal" Size="ModalSize.Large" />
