@page "/Editor"

<h1>ProductEditor</h1>

<div id="ProductField">
    <input id="ProductName" type="text" name="name" value="@Product.Name" />
    <input id="ProductPrize" type="number" name="name" value="@Product.Price" />
</div>

<CategorySelecter/>

<button id = "ChangeCategoryViewButton" @onclick="ChangeCategoryView">Kategorie erstellen</button>

<button id= "SaveButton">Speichern</button>

<button id="CancelButton">Abbrechen</button>

@code {

}
